.card {
    display: flex;
    float:left;
    position: relative;
    box-shadow: 0 4px 8px 0
    rgba(red, green, blue, alpha);
    transition: 0.3s;
    width:20%;
    padding:16px;
    margin:20px;
    left:14px;
    overflow: visible;
}
.card:hover{
    box-shadow: 0 8px 16px 0
    rgba(59,39,189,0.863);
}
.container{
    padding:2px 12px;
}
img {
    width:30%;
    height:50px;;
}